h1{
    background-color: gray;
    text-align: center;
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
}

.container{
    width: 400px;
    background-color: aqua;
    border-radius: 10px;
}

.btn{
    margin: 10px;
}